<div class="shadow card mt-2">
<div class="card-header">
    <h3 class="card-title">About</h3>
</div>
<div class="card-body text-left">

        <p> 
            Terrestrial Goods is a centralized directory of plastic-free and minimal-plastic personal care products, curated from trusted retailers 
            around the web. We help eco-conscious and 
            planet-aware consumers find brands that are committed to helping our planet by minimizing the use of plastic packaging and containers 
            in care products.
        </p>
        <p>
            Changing your shopping habits for your care products may seem like a drop in the bucket, but small efforts can add up to a big impact.  
            By choosing products that use more sustainable containers, you contribute to the demand for responsible packaging and demonstrate to 
            manufacturers that it’s a change worth investing in.
        </p>
        <h5 class="font-weight-bold">A few of our values:</h5>
        <p> 
            Great care products don’t have to pollute the environment with single-use plastic packaging.
        </p>
        <p>
            Being good to our planet and its inhabitants is more important than saving pennies on production costs.
        </p>
        <p> 
            Customers deserve quality products produced with care and respect.
        </p>
        <p class="font-italic">
            Terrestrial Goods may receive a commission on items purchased through links from the site.  These proceeds help keep 
            the project running.   
        </p>
        <div class="text-center">
            <h4 class="font-weight-bold">Thanks for visiting!</h4>
        </div>
</div>