
<div class="container">
<div class="container-fluid mt-1 text-center">
<div class="row">
    <div class="col-sm-4">
        <p class="font-weight-bold h4">Hair</p>
        <a routerLink='/hair'>
            <img src="assets/shampoo.jpg" class="img-responsive browse-img" alt="Man shampooing hair" />
        </a>
    </div>
    <div class="col-sm-4">
        <p class="font-weight-bold h4">Body</p>
        <a routerLink='/body'>
            <img src="assets/soap.jpg" class="img-responsive browse-img" alt="Soap bar stack. Image by Jessiak - Pixabay" />
        </a>
    </div>
    <div class="col-sm-4">
        <p class="font-weight-bold h4">Deodorant</p>
        <a routerLink='/deodorant'>
            <img src="assets/deodorant.jpg" class="img-responsive browse-img" alt="Woman's underarm" />
        </a>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-4">
        <p class="font-weight-bold h4">Face</p>
        <a routerLink='/face'>
            <img src="assets/face_wash.jpg" class="img-responsive browse-img" alt="Man washing face" />
        </a>
    </div>
    <div class="col-sm-4">
        <p class="font-weight-bold h4">Makeup</p>
        <a routerLink='/makeup'>
            <img src="assets/makeup.jpg" class="img-responsive browse-img" alt="Makeup brushes.  Image by Glow Repose - Unsplash." />
        </a>
    </div>
    <div class="col-sm-4">
        <p class="font-weight-bold h4">Teeth</p>
        <a routerLink='/tooth'>
            <img src="assets/toothbrush.jpg" class="img-responsive browse-img" alt="Toothbrush.  Image by Ignacio F. - Unsplash" />
        </a>
    </div>
</div>
</div>
</div>