
<div class="jumbotron">
    <div class="container text-center page-header">
        <h1>Find Products</h1>
        <h5>Browse categories below</h5>
    </div>
</div>
<div class="container">
<div class="container-fluid mt-1 text-center">
<div class="row">
    <div class="col-sm-4">
        <p class="font-weight-bold">Hair</p>
        <a routerLink='/hair'>
            <img src="https://images.unsplash.com/photo-1522337360788-8b13dee7a37e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="img-responsive" style="width: 100%" alt="Hair" />
        </a>
    </div>
    <div class="col-sm-4">
        <p class="font-weight-bold">Body</p>
        <a routerLink='/body'>
            <img src="https://images.unsplash.com/photo-1580654127156-3f4ec6d7a5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="img-responsive" style="width: 100%" alt="Body" />
        </a>
    </div>
    <div class="col-sm-4">
        <p class="font-weight-bold">Deodorant</p>
        <a routerLink='/deodorant'>
            <img src="https://images.unsplash.com/photo-1534259362708-6d0c72ccdf3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="img-responsive" style="width: 100%" alt="Deodorant" />
        </a>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-4">
        <p class="font-weight-bold">Face</p>
        <a routerLink='/face'>
            <img src="https://images.unsplash.com/photo-1508091073125-ced32109d0ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="img-responsive" style="width: 100%" alt="Face" />
        </a>
    </div>
    <div class="col-sm-4">
        <p class="font-weight-bold">Makeup</p>
        <a routerLink='/makeup'>
            <img src="https://images.unsplash.com/photo-1518989641748-88825a5ed9d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="img-responsive" style="width:100%" alt="Makeup" />
        </a>
    </div>
    <div class="col-sm-4">
        <p class="font-weight-bold">Teeth</p>
        <a routerLink='/tooth'>
            <img src="https://images.unsplash.com/photo-1553691158-91a7f9183156?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" class="img-responsive" style="width: 100%" alt="Teeth" />
        </a>
    </div>
</div>
</div>
</div>