<nav class="sticky-top sidebar px-0 mx-0 d-none d-sm-block">
    <div class="sidebar-sticky">
      <ul class="nav flex-column text-left shadow card">
        <a routerLink="/home"><li class="nav-item side" routerLinkActive="active">Home</li></a>
        <li><hr></li>
        <a routerLink="/hair"><li class="nav-item side" routerLinkActive="active">Hair</li></a>
        <a routerLink="/body"><li class="nav-item side" routerLinkActive="active"> Body</li></a>
        <a routerLink="/deodorant"><li class="nav-item side" routerLinkActive="active">Deodorant</li></a>
        <a routerLink="/face"><li class="nav-item side" routerLinkActive="active"> Face</li></a>
        <a routerLink="/makeup"><li class="nav-item side" routerLinkActive="active"> Makeup</li></a>
        <a routerLink="/tooth"><li class="nav-item side" routerLinkActive="active"> Teeth</li></a>
        <li><hr></li>
        <a routerLink="/about"><li class="nav-item side" routerLinkActive="active">About</li></a>
        <a routerLink="/contact"><li class="nav-item side" routerLinkActive="active">Contact</li></a>
        <a href="http://blog.letsgetearthy.com" target="_blank"><li class="nav-item side">Blog</li></a>
      </ul>
    </div>    
    </nav>