<button class="btn btn-menu dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" ara-expanded="false">
    Menu</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" routerLink="/home">Home</a>
    <hr>
    <a class="dropdown-item" routerLink="/hair">Hair</a>
    <a class="dropdown-item" routerLink="/body">Body</a>
    <a class="dropdown-item" routerLink="/deodorant">Deodorant</a>
    <a class="dropdown-item" routerLink="/face">Face</a>
    <a class="dropdown-item" routerLink="/makeup">Makeup</a>
    <a class="dropdown-item" routerLink="/tooth">Teeth</a>
    <hr>
    <a class="dropdown-item" routerLink="/about">About</a>
    <a class="dropdown-item" routerLink="/contact">Contact</a>
    <a class="dropdown-item" href="http://blog.letsgetearthy.com" target="_blank">Blog</a>
  </div>
