.btn-menu, .btn-menu:hover, .btn-menu:active {
    background-color: #cbcdcb;
    width: 100%;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-item {
    font-weight: bold;
    color: #114d38;
}

#dropdownMenuLink {
    font-weight: bold;
}