body {
    height: 100%;
    margin: 0;
    background-image: url("assets/wood.jpg");
    background-size: auto;
}
.jumbotron {
    background-image: url("assets/leaves.jpg");/*Image by Erol Ahmed - Unsplash*/
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 20px;
}
.container, .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.page-wrapper {
    min-height: 100vh;
    width: 100%;
    position: relative;
/*    background-color: #f3fcfa;*/

}

.page-header {
    background-image: url("assets/logo_full.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    height: 145px;
}

.page-header>h1, .page-header>h5 {
    color: white;
    font-weight: bold;
}

.products-table {
    text-align: left;
}

.product-img {
    width: 300px;
    border: 1px solid #729961;    
}

.min-size-img {
    min-height: 250px;
    min-width: 250px;
}

.browse-img {
    width: 100%;
}

.btn-primary, .btn-primary:disabled {
    background-color: #114d38;
    border-color: #114d38;
}

.btn-primary:hover {
    background-color: #114d38;
}

.icon {
    height: 50px;
    width: 50px;
}
  
.content-wrapper {
    padding-bottom: 30px;
}

.sidebar-sticky {
    padding: 8px;
    height: 100%;
    padding-left: 0px;
}  

.sidebar-sticky li {
    padding: 6px 8px 6px 16px;
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}

.table .thead-dark th, .card-header {
    background-color: #dac8b5;
    border-color: #dac8b5;
    color: black;
}

a {
    color: 
    #114d38;
  }

ul>a:hover {
    text-decoration: none;
    color: #114d38;
}

li.active {
    background-color: #dac8b5;
}

.side {
    font-weight: bold;
}

.side:hover {
    background-color: #cbcdcb;
}

