    <div class="p-2 shadow card">
        <p class="lead">Terrestrial Goods is here to help you reduce your plastic use by curating plastic-free products for your daily 
            personal care routine.  Find shampoo, soap, toothpaste, and more packaged with minimal plastic and sold through established 
            retailers and manufacturers.
        </p>
    </div>
    <div class="p-0 mt-2 shadow card">
        <table class="table products-table">
            <thead class="thead-dark text-center">
                <tr>
                    <th><h3>Favorite & Featured Products</h3></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of featuredProducts; let i=index">
                    <td>
                        <div class="float-left">
                            <a href="{{product.link}}" target="_blank"></a>
                            <img class="product-img mx-3" src="{{product.image}}">
                        </div>
                        <div>
                            <h4>{{product.brand}} {{product.title}}</h4>
                            <p>{{product.description}}</p>
                            <a href="{{product.link}}" target="_blank"><button class="btn btn-primary">Buy it on <strong>{{product.vendor}}</strong></button></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>