
    <div class="jumbotron">
        <div class="container text-center page-header">
            <h1>Terrestrial Goods</h1>
            <h5>A plastic-free marketplace</h5>
        </div>
    </div>
    <div class="container">
    <div class="container px-10">
        <div class="mx-10 px-10">
        <p class="lead"> 
        Wondering how you can reduce your consumption of plastic?  Care product packaging is a great place to start!  By buying products packaged in 
        paper, glass, or metal, you're helping reduce the demand for single-use plastic.  If demand is lower, production will 
        be lower, and less plastic will find its way into our environment where it doesn't belong.
        </p>
        <p class="lead">
        At Terrestrial Goods, you can find plastic-free and plastic-minimized products stocked at the retailers you already use.  No new stores, no new habits - just trying a new 
        product here and there.  We think you'll even fall in love with some of them!
        </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        <a class="text-dark" href="/products">Shop</a>
                    </h3>
                    <p class="card-text mb-auto">Find plastic-free or minimal plastic products at stores you already know and love.</p>
                    <a href="/products">Browse Products</a>
                </div>
                <img class="card-img-right d-md-block min-size-img" alt="Thumbnail [200x250]" style="width: 250px; height: 250px;" src="https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" data-holder-rendered="true">
                <!--to fix picture squishing, took out: flex-auto d-none data-src="holder.js/200x250?theme=thumb"-->
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        <a class="text-dark" href="blog.letsgetearthy.com" target="_blank">Blog</a>
                    </h3>
                    <p class="card-text mb-auto">Find recommendations, get tips on using alternative products, and learn about plastic pollution.</p>
                    <a href="blog.letsgetearthy.com" target="_blank">Read Blog</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block min-size-img" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 250px; height: 250px;" src="https://images.unsplash.com/photo-1564419188055-48ba159334c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" data-holder-rendered="true">
            </div>
        </div>
    </div>
</div>